/* =Content
----------------------------------------------- */

.sticky {
}
.hentry {
	margin: 0 0 $vspacing;
}
.byline,
.updated {
	display: none;
}
.single, .group-blog {
	.byline {
		display: inline;
	}
}
.entry-meta {
	margin-top: $vspacing*2;
}
.page-content,
.entry-content,
.entry-summary,
.entry-meta {
	margin: $vspacing auto 0;
	max-width: 70%;
}
.page-content p img,
.entry-content p img,
.entry-summary p img,
.entry-meta p img {
	max-width: 100%;
}
.entry-content blockquote p {
	max-width: 100%;
	margin: 0;
}
.page-links {
	clear: both;
	margin: 0 0 $vspacing;
}