/* Global layout settings */

.site-branding,
.main-navigation .nav-menu,
.content-area,
.site-footer .site-info,
.widget-container .widget-area {
	clear: both;
	margin: 0 auto;
	max-width: 1000px;
}

.site-footer,
.widget-container {
	clear: both;
	width: 100%;
}

.site-header {
	clear: both;
	padding: $vspacing*1.25 0;
	background-color: lighten($base-color, 77%);
	text-align: center;
}

.site-footer {
	padding: $vspacing 0;
	background-color: $base-color;
	font-family: $header-font;
	@include font-size(14);
	color: white;
	
	.site-info {
		text-align: center;
	}
}

/* Homepage */

.content-area {
	padding: $vspacing*2 0;
}

.post-thumbnail {
	float: left;
	position: relative;
	margin: 0 4% 4% 0;
	width: 48%;
	height: 300px;
	background-color: lighten($base-color, 20%);
	background-size: 100% 100%;
	
	&:nth-of-type(even) {
		margin-right: 0;
	}
	
	&:hover {
		box-shadow: 0 0 5px rgba(0,0,0,.25);
	}
	
	.post-title {
		position: absolute;
		bottom: 0;
		margin: 0;
		padding: $vspacing/3;
		width: 100%;
		background-color: rgba(0,0,0,.5);
	}

}