/* Global layout settings */

.site-branding,
.main-navigation .nav-menu,
.content-area,
.site-footer .site-info,
.widget-container .widget-area {
	clear: both;
	margin: 0 auto;
	max-width: 1000px;
}

.site-footer,
.widget-container {
	clear: both;
	width: 100%;
}

/* Specific layout settings */

.site-header {
	clear: both;
	padding: $vspacing*2 0;
	background-color: #f9f9f9;
	text-align: center;
}

h1.site-title {
}

.widget-container {
	padding: $vspacing*2 0;
	background-color: #444;
	font-family: $header-font;
	color: white;
	overflow: hidden;

	.widget-area .widget {
		float: left;
		margin: 0 4% 4% 0;
		width: 48%;
		font-size: 14px;
		font-size: 1.4rem;
		
		&:nth-of-type(even) {
			margin-right: 0;
		}
	}
	
	a {
		color: #b0d6f2;
	}

}

.site-footer {
	padding: $vspacing 0;
	background-color: #333;
	font-family: $header-font;
	font-size: 14px;
	font-size: 1.4rem;
	color: white;
	
	.site-info {
		text-align: center;
	}
	
	a {
		color: #b0d6f2;
	}
}

/* Homepage */

.content-area {
	padding: $vspacing*2 0;
	clear: both;
}

.post-thumbnail {
	float: left;
	position: relative;
	margin: 0 4% 4% 0;
	width: 48%;
	height: 300px;
	background: #666;
	background-size: 100% 100%;
	
	&:nth-of-type(even) {
		margin-right: 0;
	}
	
	.post-title {
		position: absolute;
		bottom: 0;
		padding: $vspacing/3 0;
		width: 100%;
		background-color: rgba(0,0,0,.5);
		font-family: $base-font;
		color: white;
		text-align: center;
		text-shadow: 0 2px 0 rgba(0,0,0,.5);
	}

}