/* =Media
----------------------------------------------- */

.page-content,
.entry-content,
.comment-content {
	img.wp-smiley {
		border: none;
		margin-bottom: 0;
		margin-top: 0;
		padding: 0;
	}
}
// Image Captions
.wp-caption {
	margin-bottom: $vspacing;
	max-width: 100%;
	border: none;

	img[class*="wp-image-"] {
		display: block;
		margin: $vspacing auto 0;
		max-width: 100%;
	}
	.wp-caption-text,
	.wp-caption-dd {
		margin: $vspacing/3 0 $vspacing;
		text-align: left;
		@include font-size(14);
		font-style: italic;
	}
}

// Galleries
.gallery {

	@extend %clearfix;

	margin: $vspacing auto 0 !important;
	
	&+ p {
		margin-top: 0;
	}

	.gallery-item {
		float: left;

		.gallery-icon {
			a { display: block; }

			img {
				border: none !important;
				height: auto;
				margin-bottom: 0;
			}
		}

		.gallery-caption {
			margin: $vspacing/3 0 $vspacing;
			text-align: center;
			@include font-size(14);
			font-style: italic;
		}

	}

}

@mixin gallery_column ( $margin: 2, $num: 4 ){
	.gallery-columns-#{$num} .gallery-item {
     width: ( 100% - $margin * ( $num - 1 ) ) / $num;
     margin-right: $margin;
  }
  	.gallery-columns-#{$num} .gallery-item:nth-of-type(#{$num}n - #{$num}) {
     margin-right: 0;
     clear: right;
  }

}

/* Fluid Gallery Columns
   works well if you remove the default gallery styling
   by adding the following to your functions.php
   add_filter( 'use_default_gallery_style', '__return_false' );
*/

@for $i from 2 through 9 {
	@include gallery_column( 2, $i );
}

/* Make sure embeds and iframes fit their containers */
embed,
iframe,
object {
	max-width: 100%;
}