/* =Menu
----------------------------------------------- */

.main-navigation {
	clear: both;
	display: block;
	background-color: $base-color;

	// first level
	ul {
		list-style: none;
		margin: 0 auto;
		position: relative;

		li {
			position: relative;
			display: inline-block;
			margin-right: $vspacing/2;

			a {
				display: block;
				padding: $vspacing/2 0;
				color: white;
				font-family: $header-font;
				@include font-size(12);
				text-transform: uppercase;
			}

			// link hover
			&:hover {
				> a { color: darken(white, 30%); }
				> ul { display: block; }
			}

		}

		.current_page_item, .current-menu-item {
			a { color: $base-light-color; }
		}

		// second level
		ul {
			display: none;
			float: left;
			position: absolute;
			top: 60px;
			left: 0;
			z-index: 25;
			padding: $vspacing/4 0;
			
			background-color: #444;
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);

			&:hover {
				> a {};
			}

			li {
				display: block;
				margin: 0;

				a {
					display: block;
					padding: $vspacing/4 $vspacing/2;
					width: 200px;

					&:hover {};
				}
			}

			// third level
			ul {
				left: 100%;
				top: 0;
			}

		}
	}

}

/* Small menu */
.menu-toggle {
	display: none;
	cursor: pointer;
}

@media screen and (max-width: 600px) {
  .menu-toggle,
  .main-navigation.toggled .nav-menu {
    display: block;
  }

  .main-navigation ul {
    display: none;
  }
}