/* =Menu
----------------------------------------------- */

.main-navigation {
	clear: both;
	display: block;
	background-color: #333;

	// first level
	ul {
		list-style: none;
		margin: 0 auto;
		position: relative;
		padding: $vspacing/2 0;

		li {
			display: inline-block;
			margin-right: $vspacing;

			a {
				display: block;
				color: white;
				font-family: $header-font;
				font-size: 12px;
				font-size: 1.2rem;
				text-transform: uppercase;
			}

			// link hover
			&:hover {
				> a { }
				> ul { display: block; }
			}

		}

		.current_page_item, .current-menu-item {
			a {
				font-weight: bold;
				color: $highlight-color;
			}
		}

		// second level
		ul {
			display: none;
			float: left;
			position: absolute;
				top: $vspacing*1.5;
				left: 0;
			z-index: 99999;
			
			background-color: #444;
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);

			&:hover {
				> a {};
			}

			li {
				a {
					width: 200px;
					&:hover {};
				}
			}

			// third level
			ul {
				left: 100%;
				top: 0;
			}

		}
	}

}

/* Small menu */
.menu-toggle {
	display: none;
	cursor: pointer;
}

@media screen and (max-width: 600px) {
  .menu-toggle,
  .main-navigation.toggled .nav-menu {
    display: block;
  }

  .main-navigation ul {
    display: none;
  }
}