/* =Navigation
----------------------------------------------- */

.site-main [class*="navigation"] {
	@extend %clearfix;
	clear: both;
	
	.nav-links a[rel="prev"],
	.nav-previous {
		float: left;
		width: 50%;
	}

	.nav-links a[rel="next"],
	.nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}

	.nav-links .nav-previous a,
	.nav-links .nav-next a {
		padding: $vspacing/3 $vspacing/2;
		border: 5px solid $base-light-color;
		width: auto;
	}

}