/* =Navigation
----------------------------------------------- */

.site-main [class*="navigation"] {
	clear: both;
	overflow: hidden;

	.nav-links a[rel="prev"],
	.nav-previous {
		float: left;
		width: 50%;
	}

	.nav-links a[rel="next"],
	.nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}

}

.nav-links {
	
}