body,
button,
input,
select,
textarea {
	color: $text-color;
	font-family: $base-font;
	@include font-size(18);
	line-height: 1.7;
}

/* Headings */
h1,h2,h3,h4,h5,h6 {
	font-family: $header-font;
	clear: both;
}
h1 {
	&.site-title {
		display: inline-block;
		padding: $vspacing/3 $vspacing;
		border: 5px solid $base-color;
		@include font-size(26);
		font-weight: bold;
		text-transform: uppercase;
	
		a {
			color: $base-color;
			
			&:hover {
				text-decoration: none;
			}
		}
	}
	&.entry-title {
		margin: $vspacing/2 0 $vspacing/1.5;
		text-align: center;
		@include font-size(36);
		font-weight: bold;
		letter-spacing: -.05em;
	}	
	&.widget-title {
		margin-bottom: $vspacing;
		@include font-size(13);
		font-weight: bold;
		text-transform: uppercase;
	}
}
h2 {
	@include font-size(24);
}

hr {
	background-color: #ccc;
	border: 0;
	height: 1px;
	margin-bottom: $vspacing;
}

/* Text elements */
p {
	line-height: 2;
	margin-bottom: $vspacing;
}
ul, ol {
	margin: 0;
}
ul {
	list-style: disc;
}
ol {
	list-style: decimal;
}
li > ul,
li > ol {
	margin-bottom: 0;
	margin-left: $vspacing;
}
dt {
	font-weight: bold;
}
dd {
	margin: 0 $vspacing $vspacing;
}
b, strong {
	font-weight: bold;
}
dfn, cite, em, i {
	font-style: italic;
}
blockquote {
	margin: $vspacing 0;
	padding: $vspacing;
	border: 3px solid lighten($base-color, 30%);
	font-style: italic;
	color: lighten($base-color, 30%);
}
address {
	margin: 0 0 $vspacing;
}
pre {
	background: #eee;
	font-family: "Courier 10 Pitch", Courier, monospace;
	@include font-size(15);
	line-height: 1.6;
	margin-bottom: 1.6em;
	padding: 1.6em;
	overflow: auto;
	max-width: 100%;
}
code, kbd, tt, var {
	font: 15px Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
}
abbr, acronym {
	border-bottom: 1px dotted lighten($base-color, 20%);
	cursor: help;
}
mark, ins {
	background: #fff9c0;
	text-decoration: none;
}
sup,
sub {
	font-size: 75%;
	height: 0;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}
sup {
	bottom: 1ex;
}
sub {
	top: .5ex;
}
small {
	font-size: 75%;
}
big {
	font-size: 125%;
}
figure {
	margin: 0;
}
table {
	margin: 0 0 $vspacing;
	width: 100%;
}
th {
	font-weight: bold;
}
img {
	height: auto; /* Make sure images are scaled correctly. */
	max-width: 100%; /* Adhere to container width. */
}

/* Links */
a {
	color: $link-color;
	@include hoverActiveFocus(color, darken($link-color, 30%));
	text-decoration: none;
	
	&:hover {
		text-decoration: underline;
	}
}
a:visited {
	color: $link-visited;
}

/* Specific type styles */

.entry-meta,
.nav-links {
	font-family: $header-font;
	@include font-size(12);
	text-transform: uppercase;
	color: lighten($base-color, 20%);
}