body,
button,
input,
select,
textarea {
	color: $text-color;
	font-family: $base-font;
	@include font-size(18);
	line-height: 1.7;
}

/* Headings */
h1,h2,h3,h4,h5,h6 {
	font-family: $header-font;
	clear: both;
}
h1 {
	margin: $vspacing/3 0 $vspacing*.5;
	@include font-size(48);
	font-weight: bold;

	&.site-title {
		position: relative;
		display: inline-block;
		margin: 0;
		padding: $vspacing/3 $vspacing;
		border: 5px solid $base-color;
		border-radius: 3px;
		@include font-size(26);
		font-weight: bold;
		text-transform: uppercase;

		&:before {
			@include divet( left, $base-color, 40px, -5px, 45px );
		}
		&:after {
			@include divet( right, $base-color, 40px, -5px, 45px );
		}
	
		a {
			color: $base-color;
		}
	}
	&.entry-title {
		margin: $vspacing/2 0 $vspacing/1.5;
		text-align: center;
		@include font-size(36);
		font-weight: bold;
		letter-spacing: -.05em;
	}	
	&.widget-title {
		margin-bottom: $vspacing;
		@include font-size(13);
		font-weight: bold;
		text-transform: uppercase;
	}
}
h2 {
	margin: $vspacing/2 0 $vspacing/2;
	@include font-size(36);
	
	&.post-title {
		font-family: $base-font;
		@include font-size(24);
		color: white;
		text-align: center;
		text-shadow: 0 2px 0 rgba(0,0,0,.5);
	}
}
h3 {
	margin: $vspacing/3 0 $vspacing/1.5;
	@include font-size(24);
	font-weight: bold;

	&.comment-reply-title {
		@include font-size(24);
		font-weight: bold;
		text-align: center;
	}
}
h4 {
	margin: $vspacing/2 0 $vspacing/3;
	@include font-size(16);
	font-weight: bold;
	text-transform: uppercase;
}
h5 {
	margin: $vspacing/2 0 $vspacing/3;
	@include font-size(14);
	font-weight: bold;
	text-transform: uppercase;
	color: lighten($text-color, 20%);
}
h6 {
	margin: $vspacing/2 0 $vspacing/3;
	@include font-size(14);
	font-weight: bold;
	color: lighten($text-color, 50%);
}

hr {
	background-color: #ccc;
	border: 0;
	height: 1px;
	margin-bottom: $vspacing;
}

/* Text elements */
p {
	line-height: 2;
	margin-bottom: $vspacing;
}
ul, ol {
	margin: 0;
}
ul {
	list-style: disc;
}
ol {
	list-style: decimal;
}
li > ul,
li > ol {
	margin-bottom: 0;
	margin-left: $vspacing;
}
dt {
	font-weight: bold;
}
dd {
	margin: 0 $vspacing $vspacing;
}
b, strong {
	font-weight: bold;
}
dfn, cite, em, i {
	font-style: italic;
}
blockquote {
	margin: $vspacing 0;
	padding: $vspacing;
	border: 3px solid lighten($base-color, 30%);
	font-style: italic;
	color: lighten($text-color, 20%);
}
address {
	margin: 0 0 $vspacing;
}
pre {
	background: #eee;
	font-family: "Courier 10 Pitch", Courier, monospace;
	@include font-size(15);
	line-height: 1.6;
	margin-bottom: 1.6em;
	padding: 1.6em;
	overflow: auto;
	max-width: 100%;
}
code, kbd, tt, var {
	font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
	@include font-size(15);
}
abbr, acronym {
	border-bottom: 1px dotted lighten($base-color, 20%);
	cursor: help;
}
mark, ins {
	background: #fff9c0;
	text-decoration: none;
}
sup,
sub {
	font-size: 75%;
	height: 0;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}
sup {
	bottom: 1ex;
}
sub {
	top: .5ex;
}
small {
	font-size: 75%;
}
big {
	font-size: 125%;
}
figure {
	margin: 0;
}
table {
	margin: 0 0 $vspacing;
	width: 100%;
}
th {
	font-weight: bold;
}
caption, th, td {
	padding: $vspacing/3;
}
mark, ins {
	background-color: lighten($base-light-color, 20%);
}
img {
	height: auto; /* Make sure images are scaled correctly. */
	max-width: 100%; /* Adhere to container width. */
}

/* Links */
a {
	color: $link-color;
	@include hoverActiveFocus(color, darken($link-color, 30%));
	text-decoration: none;
	
	&:hover {
		color: darken($link-color, 20%);
	}
}

/* Specific type styles */

.entry-meta,
.nav-links {
	font-family: $header-font;
	@include font-size(12);
	text-transform: uppercase;
	color: lighten($base-color, 20%);
}

.logged-in-as {
	@include font-size(14);
	font-style: italic;
	text-align: center;
}

.form-allowed-tags {
	@include font-size(14);	
}